<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.nocturne.vslab.backserver.mapper.ContainerMapper">

    <resultMap id="baseResultMap" type="org.nocturne.vslab.api.entity.Container">
        <id column="project_id" property="projectId"/>
        <result column="type" property="imageType"/>
        <result column="container_id" property="containerId"/>
        <result column="user_id" property="userId"/>
        <result column="container_name" property="name"/>
        <result column="ip" property="ip"/>
        <result column="terminal_port" property="terminalPort"/>
        <result column="server_port" property="serverPort"/>
    </resultMap>

    <!--    public Container getContainerById(Integer projectId);-->
    <select id="getContainerById" resultMap="baseResultMap">
        SELECT * FROM tb_container WHERE project_id = #{projectId}
    </select>


    <!--    public void createContainer(Container container);   -->
    <insert id="createContainer" useGeneratedKeys="true" keyColumn="id" keyProperty="projectId">
        INSERT INTO tb_container (type, container_id, container_name, ip, terminal_port, server_port, user_id)
        VALUES (#{imageType}, #{containerId}, #{name}, #{ip}, #{terminalPort}, #{serverPort}, #{userId})
    </insert>

    <!--    public void deleteContainer(Integer projectId);-->
    <delete id="deleteContainer">
        DELETE FROM tb_container WHERE project_id = #{projectId}
    </delete>

    <!--    public void updateContainer(Container container);-->
    <update id="updateContainer">
        UPDATE tb_container SET server_port = #{serverPort}, terminal_port = #{terminalPort} WHERE project_id = #{projectId};
    </update>

</mapper>