<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.nocturne.vslab.backend.mapper.UserMapper">

    <resultMap id="baseResultMap" type="org.nocturne.vslab.backend.bean.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
    </resultMap>

    <!--public void createUser(User user);-->
    <insert id="createUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tb_user (name, password, email) VALUES (#{name}, #{password}, #{email})
    </insert>

    <!-- public User getUserByName(String username);-->
    <select id="getUserByName" resultMap="baseResultMap">
        SELECT * FROM tb_user WHERE name = #{username}
    </select>

    <!--public User getUserById(Integer id);-->
    <select id="getUserById" resultMap="baseResultMap">
        SELECT * FROM tb_user WHERE id = #{id}
    </select>

    <!--public User getUserByEmail(String email);-->
    <select id="getUserByEmail" resultMap="baseResultMap">
        SELECT * FROM tb_user WHERE email = #{email}
    </select>

    <!--public void deleteUserByName(String username);-->
    <delete id="deleteUserByName">
        DELETE FROM tb_user WHERE name = #{useranme}
    </delete>

    <!--public void updateUser(User user);-->
    <update id="updateUser">
        UPDATE tb_user
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="password != null">password = #{password}</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>