<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.nocturne.vslab.frontserver.mapper.ContainerMapper">

    <resultMap id="baseResultMap" type="org.nocturne.vslab.api.entity.Container">
        <id column="project_id" property="projectId"/>
        <result column="type" property="imageType"/>
        <result column="container_id" property="containerId"/>
        <result column="user_id" property="userId"/>
        <result column="container_name" property="name"/>
        <result column="ip" property="ip"/>
        <result column="terminal_port" property="terminalPort"/>
        <result column="server_port" property="serverPort"/>
    </resultMap>

    <!--public List<Container> getContainersOfUser(Integer userId);-->
    <select id="getContainersOfUser" resultMap="baseResultMap">
        SELECT * FROM tb_container WHERE user_id = #{userId}
    </select>

    <!--public Container getContainerById(Integer projectId);-->
    <select id="getContainerById" resultMap="baseResultMap">
        SELECT * FROM tb_container
        WHERE project_id = #{projectId}
    </select>

    <!-- public void updateContainerName(@Param("projectId") Integer projectId, @Param("projectName") String projectName);-->
    <update id="updateContainerName">
        UPDATE tb_container SET container_name = #{projectName} WHERE project_id = #{projectId}
    </update>


</mapper>